<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleLogin.css">
    <title>STI Queueing System</title>
</head>
<body>
    <div class="mainPanel">
        <h5>Log in</h5>
        <form action="" id="formLogin">
        <div class="login-panel">
            <input name="userName" type="text" placeholder="Username" id="userName" required/>
            <input name="password" type="password" placeholder="Password" id="passWord" required/>
            <button type="submit" id="LoginBtn"> Log in</button>
            <a class="ask">Don't have an account? <a href="/register"><span>Sign up here</span></a></a>
        </div>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="menu.js"></script>
    <script src="script.js"></script>
</body>
</html>